@import "blocks/common/title"

.uppercase
	text-transform: uppercase
.bold
	font-family: $Bold
.overlay-bg
	&:before
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		content: ""
		background-color: rgba(26, 26, 26, 0.6)
		z-index: -1
.relative
	position: relative
	z-index: 20
.underline
	text-decoration: underline
.mb-mobile
	@media(max-width: $md)
		margin-bottom: 30px
	&:last-of-type
		@media(max-width: $md)
			margin-bottom: 0
.right
	display: flex
	justify-content: flex-end
	align-items: flex-start
	padding: 10px
	@media (max-width: $md)
		justify-content: center