@import "_mixins/svg"

button
	&:focus
		outline: none
		cursor: pointer
a
	text-decoration: none
	color: inherit
	font-size: inherit
	font-weight: inherit
	transition: all .3s ease
	@media(min-width: 992px)
		&:hover
			text-decoration: none
			color: inherit
	&:focus
		outline: none
ul
	margin: 0
	padding: 0
	list-style: none

@mixin input-style
	padding: 24px
	background-color: $white
	color: $dark-bg
	border: 1px solid transparent
	font-size: 14px
	line-height: 1
	font-family: 'Montserrat', sans-serif
	border-radius: 5px
	&:focus
		border: 1px solid $accent

.input
	@include input-style


.button 
	padding: 18px 28px
	display: inline-flex
	align-items: center
	justify-content: center
	color: $white
	font: 12px $Reg
	font-weight: 500
	line-height: 12px
	text-decoration: none
	text-align: center
	border: none
	border-radius: 5px
	background-color: $accent
	cursor: pointer
	transition: all .5s ease
	user-select: none
	@media(min-width: 992px)
		&:hover
			border-color: $accent-hover
			background-color: $accent-hover
			color: $white
	&__text
		font-family: $Medium
	&__img
		margin-right: 10px

.btn-link
	display: flex
	align-items: center
	@media (max-width: $xl)
		.section__title + &
			flex-basis: 25%
			justify-content: flex-end
	&_mobile
			@media (max-width: $md)
				justify-content: center


	&__text
		color: $accent
		font-size: 12px
		font-weight: 500
		transition: all .3s ease

	&__icon
		margin-left: 10px
		width: 18px
		height: 18px

	&__svg
		fill: $accent
		transition: all .3s ease
	&:hover &__text
		color: $accent-hover
	&:hover &__svg
		fill: $accent-hover

.hidden-mobile
	@media (max-width: $md)
		display: none
	&_sm
		@media (max-width: $sm)
			display: none

	