@import "vars"
@import "fonts"
@import "libs"
@import "interface"
@import "helpers"




@import "blocks/card"
@import "blocks/header"
@import "blocks/main-screen"
@import "blocks/press-releases"
@import "blocks/business"
@import "blocks/partners"
@import "blocks/about"
@import "blocks/news"
@import "blocks/market"
@import "blocks/video"
@import "blocks/contacts.sass"
@import "blocks/marketing.sass"
@import "blocks/_news-page.sass"
@import "blocks/page-services"
@import "blocks/_business-page.sass"
@import "blocks/modals.sass"
@import "blocks/footer"
@import "blocks/social-icon"

@import "blocks/common/section"
@import "blocks/common/card"
@import "blocks/common/tile"
@import "blocks/common/page"
@import "blocks/common/aside"
@import "blocks/common/pagination"
@import "blocks/common/burger"
@import "blocks/common/menu"
@import "blocks/common/magnifier"
@import "blocks/common/search"
@import "blocks/common/main-news"
@import "blocks/common/form"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
input:focus
	border-color: $accent
	background-image: none

*
	font-family: 'Montserrat', sans-serif
	margin: 0
	outline: none
	-webkit-tap-highlight-color: transparent !important
body
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	color: $dark-text
	background-color: $white
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			//border-color: red
		&:required:valid
			//border-color: green
	input[type="file"]
		border: none !important
.body
	&_no-scroll
		overflow-y: hidden
img
	max-width: 100%

// .container
// 	padding-left: 0
// 	padding-right: 0

//.row
	// margin: 0



