.about
	&__img
		height: 500px !important
		@media (max-width: $lg)
			height: 400px !important
		@media (max-width: $md)
			height: 250px !important
		@media (max-width: $sm)
			height: 180px !important