.business
	@media (max-width: $md)
		padding-left: 15px
		padding-right: 15px
	&__item
		height: 400px
		padding: 70px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		flex-basis: 33.33%
		@media (max-width: $lg)
			height: 280px
		@media (max-width: $md)
			flex-basis: 100%
			height: 220px
			width: 100%
		@media (max-width: $sm)
			padding: 30px
		&_secondary
			height: 280px
			border-radius: 5px
			overflow: hidden
		&_page
			margin-bottom: 15px
			@media (max-width: $lg)
				padding: 30px

			@media (max-width: $md)
				height: 180px
		&_market
			background: url(../img/index/business_with_china/1.jpg) center / cover no-repeat
		&_exposition
			background: url(../img/index/business_with_china/2.jpg) center / cover no-repeat
		&_forum
			background: url(../img/index/business_with_china/3.jpg) center / cover no-repeat
	&__title
		margin-bottom: 30px
		color: $white
		font-size: 14px
		font-weight: 800
		line-height: 14px
		@media (max-width: $md)
			margin-bottom: 20px