@mixin card($item-height, $title-margin, $title-height: 36px)
	&__item
		height: $item-height
		margin-bottom: 30px
		background-color: $light-bg
		border-radius: 5px
		overflow: hidden
		transition: all .3s ease
		// &:hover
		// 	cursor: pointer

	&__img
		width: 100%
		height: 190px
		overflow: hidden
		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
	&__content
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		padding: 38px
	&__date
		margin-bottom: 20px
		color: rgba($dark-bg, 0.5)
		font-size: 12px
		line-height: 13px
		font-weight: 500
		
	&__title
		min-height: $title-height
		margin-bottom: $title-margin
		color: $dark-bg
		font-size: 14px
		line-height: 22px
		font-weight: 800
		transition: all .3s ease
	&__descr
		margin-bottom: 20px
		color: rgba($dark-bg, 0.5)
		font-size: 12px
		line-height: 20px
		font-weight: 400
	
	&__button
		padding: 18px 26px
		@media(min-width: 992px)
			&:hover
					padding: 18px 26px
					color: $white

@mixin card_link
	&__link
		position: relative
		padding-right: 28px
		color: $accent
		font-size: 12px
		font-weight: 500
		@media(min-width: 992px)
			&:hover
				cursor: pointer
				color: $accent-hover
		&:after
			position: absolute
			top: 45%
			transform: translateY(-50%)
			right: 0
			content: ""
			display: block
			width: 18px
			height: 9px
			background: url(../img/index/right-arrow.png) center / cover no-repeat


@mixin card_button
	&__button
		padding: 19px 29px
		@media(min-width: 992px)
			&:hover
				padding: 19px 29px
				color: $white