
.contacts
	&-block
		margin-bottom: 50px
		&__item
			padding: 0 70px
			display: flex
			flex-direction: column
			align-items: center
			// @media (max-width: $xl)
			// 	padding: 0 70px
			@media (max-width: $lg)
				padding: 0 50px
			@media (max-width: $md)
				margin-bottom: 40px
				&:last-of-type
					margin-bottom: 0
		&__icon
			height: 60px
			margin-bottom: 23px
			@media (max-width: $md)
				margin-bottom: 12px
		&__label
			margin-bottom: 20px
			color: $dark-bg
			font-size: 12px
			line-height: 12px
			font-weight: 500
			@media (max-width: $md)
				font-size: 10px
				margin-bottom: 11px
		&__data
			margin-bottom: 15px
			text-align: center
			font-size: 18px
			font-weight: 800
			@media (max-width: $md)
				font-size: 15px
				margin-bottom: 13px
		&__link
			margin-top: auto
			color: $accent
			font-size: 12px
			font-weight: 500
	&-form
		min-height: 558px



