
.footer
	padding: 100px 0
	min-height: 540px
	background-color: $dark-bg
	@media (max-width: $lg)
		padding: 45px 0 40px
	&__wrap
		display: flex
		justify-content: flex-start
		@media (max-width: $md)
			flex-direction: column
			align-items: center
	&__block
		color: rgba($white, 0.25)
		min-height: 250px
		padding: 15px 50px 15px 15px
		@media (max-width: $md)
			padding: 15px
			min-height: auto
	&__policy
		width: 30%
		align-self: flex-end
		display: flex
		flex-direction: column
		// align-items: flex-start
		justify-content: flex-end
		@media (max-width: $md)
			width: 100%
			justify-content: flex-start

		&-par
			margin-bottom: 90px
			@media (max-width: $md)
				margin-bottom: 27px

	&__section
		&:first-of-type
			margin-bottom: 50px
		&s
			display: flex
			flex-direction: column
			justify-content: flex-end
			width: 35%
			@media (max-width: $lg)
				width: 30%
			@media (max-width: $md)
				width: 100%

				order: 3

			&-title
				color: $white
				font-size: 14px
				font-weight: 800
				line-height: 14px
				margin-bottom: 25px
				@media (max-width: $md)
					font-size: 12px
					text-align: center
					margin-bottom: 15px
			&-list
				list-style: none
				padding-left: 0
				li
					margin-bottom: 15px
					@media (max-width: $lg)
						margin-bottom: 5px
					@media (min-width: $lg)
						&:hover
							color: $accent
					&:last-of-type
						margin-bottom: 0
	&__text
		font-size: 12px
		font-weight: 400
		line-height: 22px
		@media (max-width: $md)
			text-align: center
			font-size: 10px
			line-height: 18px

	&__contact
		margin-bottom: 22px
		&s
			width: 35%
			padding: 15px
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: flex-start
			@media (max-width: $lg)
				width: 40%
			@media (max-width: $md)
				width: 100%
				align-items: center
			&-label
				line-height: 12px
				margin-bottom: 11px
			&-data
				color: $white
				font-weight: 800
				font-size: 16px
				line-height: 20px
				@media (max-width: $xl)
					font-size: 14px
				@media (max-width: $md)
					text-align: center
					font-size: 12px
			&-link
				color: $accent
				@media (min-width: $lg)
					&:hover
						color: $accent-hover






	&__link
		color: $white
		@media(min-width: $lg)
			&:hover
				color: $accent


	&__socials
		width: 310px
		display: flex
		justify-content: space-between
		@media (max-width: $xl)
			width: 90%
		@media (max-width: $md)
			justify-content: center
		@media (max-width: $md)
			margin-bottom: 45px
			a
				margin-right: 10px
				&:last-of-type
					margin-right: 0

		&-item
			width: 50px
			height: 50px
			background-color: $white
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			transition: all .3s ease
			@media (max-width: $xl)
				width: 40px
				height: 40px
			@media (max-width: $md)
				width: 35px
				height: 35px

