.header
	width: 100%
	//position: sticky
	z-index: 20
	top: 0
	//left: 0
	&_index
		position: absolute
	&__burger
		display: none
		position: absolute
		top: 50%
		left: 0
		margin-top: 4px
		transform: translateY( -50%)
		@media (max-width: $lg)
			display: block
		@media (max-width: $sm)
			margin-left: 15px
	&__line
		background-color: #1a1a1a
		position: relative
		z-index: 100
		&_index
			background-color: transparent
			border-bottom: 1px solid rgba($white, 0.15)
			@media (max-width: $sm)
				background-color: #1a1a1a

	&__menu

		padding: 0
		background-color: $dark-bg
		@media (max-width: $lg)
			display: none
			//display: flex
			overflow: auto
			position: fixed
			left: 0
			bottom: 0
			width: 100%
			height: calc(100% - 61px)
			background-color: #1a1a1a
			&_open
				display: block
		@media (max-width: $sm)
			height: calc(100% - 58px)
		&_index
			background-color: transparent
			@media (max-width: $lg)
				background-color: #1a1a1a
	&__panel
		display: flex
		@media (max-width: $lg)
			width: 100%
			justify-content: flex-end
		@media (max-width: $lg)
			padding: 23px 0
		@media (max-width: $sm)
			justify-content: center
	&__lang
		padding-right: 15px
		position: relative
		display: flex
		align-items: center
		cursor: pointer
		color: $white
		font-size: 12px
		line-height: 1
		font-weight: 500
		text-transform: uppercase
		@media (max-width: $xl)
			//padding: 35px 0
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
			display: block
			width: 9px
			height: 6px
			background: url(../img/index/arrow.png) center / cover no-repeat
	&__search
		display: none
	&__search-icon

		margin-left: 90px
		//padding: 35px 0
		display: flex
		align-items: center
		cursor: pointer
		@media (max-width: $xl)
			margin-left: 20px
			//padding: 35px 0
		@media (max-width: $sm)
			margin-right: 15px
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
			margin-top: -4px
		&-wrap
			width: 20px
			height: 20px
			@include svg
	&__contacts
		padding: 17px 0
		background-color: $grey
		@media (max-width: $sm)
			padding: 20px 0
		&_index
			padding: 35px 0
			background-color: transparent
			@media (max-width: $sm)
				padding: 20px 0
				background-color: #1a1a1a
		&-wrap
			width: 100%
			display: flex
			align-items: center
			justify-content: flex-end
			color:  $dark-bg
			@media (max-width: $sm)
				padding-left: 15px
				padding-right: 15px
				flex-wrap: wrap
				justify-content: space-between
			&_index
				color: $white
		&-item
			margin-right: 55px
			transition: all .3s ease
			@media (max-width: $sm)
				margin-right: 0
			&:hover
				color: $accent
		&-mail
			font-size: 14px
			font-weight: 500
			@media (max-width: $md)
				font-size: 10px
		&-phone
			font-size: 20px
			font-weight: 800
			@media (max-width: $md)
				font-size: 15px
		&-btn
			margin-right: 0
			color: $white
			&:hover
				color: $white
			@media (max-width: $xs)
				margin-top: 17px
				flex-grow: 1
				//width: 100%
				margin-left: auto
				margin-right: auto

				//display: flex
	&__
