.main
	overflow: hidden
	height: 692px
	@media (max-width: $lg)
		height: 600px
	@media (max-width: $md)
		height: 550px
	@media (max-width: $sm)
		height: 600px
	.row
		margin: 0
	position: relative
	padding-top: 0
	padding-bottom: 0
	&-slider
		width: 100%
		height: 100%
		padding: 0
		.slick-list
			height: 100%
		.slick-track
			height: 100%
		.slick-dots
			bottom: 115px
			left: calc(50% - 400px)
			text-align: left
			@media (max-width: $xl)
				left: calc(50% - 300px)
			@media (max-width: $lg)
				left: calc(50% - 170px)
				bottom: 100px
			@media (max-width: $md)
				bottom: 30px
				left: -15px
				display: flex
				justify-content: center
		.slick-dots li
			position: relative
			width: 15px
			height: 15px
			margin-left: 30px
			transition: all .3s ease
			transform: rotate(45deg)
			&:after
				position: absolute
				display: block
				border-bottom: 1px solid rgba($white, 0.6)
				top: calc(50% + 17px)
				transform: translateY(-50%) rotate(-45deg)
				left: -25px
				width: 29px
				height: 1px
				content: ""
			span
				display: block
				width: 100%
				height: 100%
			button
				padding: 4px
				box-sizing: border-box
				width: 15px
				height: 15px
			&:first-of-type
				&:after
					display: none
			&:hover
				// opacity: 0.7
		.slick-dots li:hover
			button
				&:before
					border-color: $accent
					transition: border-color .5s ease

		.slick-dots li.slick-active
			button
				&:before
					border-color: $accent
			span
				background: $accent
		&__item
			position: relative
			width: 100%
			padding: 0
			text-align: center
			//height: 692px
			padding: 10px
			z-index: 10
			&:before
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				content: ""
				background-color: rgba(26, 26, 26, 0.85)
				z-index: 5
			&:after
				position: absolute
				bottom: 0
				right: 0
				width: 691px
				height: 400px
				content: ""
				background: url(../img/index/main-slider/city.png) center no-repeat
				background-size: cover
				z-index: 15
				@media (max-width: $xl)
					width: 484px
					height: 280px
				@media (max-width: $lg)
					display: none !important


				//484
				//280
			&-1
				background: url(../img/index/main-slider/slide-1.jpg) center no-repeat
				background-size: cover
			&-2
				background: url(../img/index/main-slider/slide-1.jpg) center no-repeat
				background-size: cover
			&-3
				background: url(../img/index/main-slider/slide-1.jpg) center no-repeat
				background-size: cover
			&:focus
				outline: none
			&-container
				display: flex
				flex-direction: column
				height: 100%
		&__content
			margin-top: auto
			position: relative
			z-index: 15
			bottom: 84px
			//top: 320px
			//left: 0
			text-align: left
			@media (max-width: $lg)
				bottom: 70px
				//top: 200px
			@media (max-width: $sm)
				text-align: center
				//bottom: 200px
		&__title
			//min-height: 72px
			padding-right: 40%
			margin-bottom: 30px
			color: $white
			font-size: 36px
			font-weight: 800
			line-height: 36px
			@media (max-width: $lg)
				padding-right: 0
			@media (max-width: $sm)
				font-size: 25px
				margin-bottom: 20px
				text-align: center
		&__descr
			width: 53%
			margin-bottom: 36px
			color: rgba($white, 0.5)
			font-size: 14px
			font-weight: 400
			line-height: 24px
			@media (max-width: $lg)
				width: 100%
			@media (max-width: $sm)
				text-align: center
				font-size: 10px
		&__button
			padding: 22px 41px
			font-size: 14px
			line-height: 14px
			@media (max-width: $xs)
				display: block
				//margin: 0 auto
				//display: inline-flex
			&:hover
				line-height: 14px
				padding: 22px 41px
				color: $white

.slick-dotted.slick-slider
	margin-bottom: 0

.slick-dots li button:before 
	position: absolute
	top: 0
	left: 0
	content: ""
	width: 15px
	height: 15px
	font-size: 6px
	line-height: 20px
	text-align: center
	color: #000
	opacity: 0.5
	border: 1px solid rgba($white, 0.6)
	// background-color: #000