
.overlay
	position: fixed
	top: 0
	width: 100%
	height: 100%
	z-index: 100
	background-color: rgba(26, 26, 26, 0.6)
	&-feedback
		display: none
	&-success
		display: none

.popup
	display: block
	position: fixed
	left: 50%
	top: 5%
	transform: translateX(-50%)
	width: 460px
	height: 491px
	@media (max-width: $sm)
		top: 3%
		width: 280px
		height: 429px

.icon-cancel__svg
	@include svg


.popup-success
	position: fixed
	left: 50%
	top: 20%
	transform: translateX(-50%)
	width: 460px
	height: 254px
	padding: 50px
	background-color: $light-bg
	border-radius: 5px
	// @include form-style
	@media (max-width: $sm)
		top: 15%
		width: 290px
		height: 190px
		padding: 30px

	&__wrap
		display: flex
		flex-direction: column

	