.page-services
	height: 430px
	@media (max-width: $lg)
		height: 400px
	@media (max-width: $md)
		height: 250px
	@media (max-width: $sm)
		height: 180px


.services-page
	&__img_full
		//height: 430px

	&__item
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		width: 100%
		height: 242px
		padding: 40px
		margin-bottom: 30px
		border-radius: 5px
		background-color: $light-bg
		&:before
			border-radius: 5px
		&-1
			background: url(../img/index/service/1.jpg) center / cover no-repeat

		&-2
			background: url(../img/index/service/2.jpg) center / cover no-repeat

		&-3
			margin-bottom: 30px
			background: url(../img/index/service/3.jpg) center / cover no-repeat


		&-4
			margin-bottom: 0
			background: url(../img/index/service/4.jpg) center / cover no-repeat
	&__img
		height: 40px
		margin-bottom: 25px

	&__title
		display: flex
		align-items: flex-end
		min-height: 63px
		padding-left: 15%
		padding-right: 15%
		margin-bottom: 25px
		color: $white
		font-size: 14px
		font-weight: 800
		line-height: 26px
		text-align: center

	&__link
		position: relative
		padding-right: 28px
		color: $accent
		font-size: 12px
		font-weight: 500
		@media(min-width: 992px)
			&:hover
				cursor: pointer
				color: $accent-hover
		&:after
			position: absolute
			top: 45%
			transform: translateY(-50%)
			right: 0
			content: ""
			display: block
			width: 18px
			height: 9px
			background: url(../img/index/right-arrow.png) center / cover no-repeat
