.partners
	background-color: $grey
	padding-top: 100px
	padding-bottom: 90px
	@media (max-width: $lg)
		padding-top: 80px
		padding-bottom: 70px
	@media (max-width: $md)
		padding-top: 60px
		padding-bottom: 60px
	&__item
		display: flex
		flex-direction: column
		justify-content: center
		@media (max-width: $md)
			margin-bottom: 20px
	&__logo
		max-width: 60%
		max-height: 50%
		@media (max-width: $lg)
			max-width: 65%
			max-height: 55%
		@media (max-width: $xs)
			max-width: 70%
			max-height: 60% 

		&_wrap
			height: 130px
			margin-bottom: 30px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 5px
			background-color: $white
			@media (max-width: $xl)
				// 
			@media (max-width: $lg)
				height: 80px
				margin-bottom: 20px
			@media (max-width: $md)
				height: 110px
			@media (max-width: $xs)
				height: 80px
				margin-bottom: 9px
	&__name
		margin-bottom: 13px
		font-size: 14px
		font-weight: 800
		line-height: 14px
		@media (max-width: $lg)
			font-size: 12px
			line-height: 15px
			margin-bottom: 9px
		@media (max-width: $md)
			text-align: center
		@media (max-width: $xs)
			font-size: 10px
			line-height: 12px
			margin-bottom: 8px
	&__descr
		color: rgba($dark-bg, 0.5)
		font-size: 12px
		font-weight: 500
		line-height: 22px
		@media (max-width: $lg)
			font-size: 11px
			line-height: 18px
		@media (max-width: $md)
			text-align: center
			font-size: 9px
			line-height: 14px
			padding: 0 7px

		@media (max-width: $xs)
			font-size: 8px
			min-height: 28px
	&__link
		@media (max-width: $sm)
			margin-top: 0 !important
