.press-releases
	&__top
		display: flex
		justify-content: space-between
		&-link
			font-weight: 500
			color: $accent
	&__item
		width: 100%
		height: 292px
		padding: 40px
		border-radius: 5px
		background-color: $light-bg
		margin-bottom: 30px
		@media(min-width: 992px)
			&:hover .press-releases__title
				color: $accent

	&__item.first_row
		margin-bottom: 0
	&__date
		margin-bottom: 25px
		color: rgba($dark-bg, 0.5)
		font-size: 12px
		line-height: 13px
		font-weight: 500
		
	&__title
		margin-bottom: 29px
		color: $dark-bg
		font-size: 14px
		line-height: 15px
		font-weight: 800
		transition: all .3s ease
	&__descr
		margin-bottom: 30px
		color: $dark-bg
		font-size: 12px
		font-weight: 400
	&__button
		padding: 19px 29px
		&:hover
			padding: 19px 29px
			color: $white
