.social-icon
	&:hover
		background-color: $accent
		.social-icon__svg
			fill: #fff
	&__svg
		fill: $accent
		transition: all .3s ease
		&_vk
			width: 23px
			@media (max-width: $md)
				width: 17px
		&_facebook
			width: 20px
			@media (max-width: $md)
				width: 13px
		&_instagram
			width: 20px
			@media (max-width: $md)
				width: 14px
		&_youtube
			width: 23px
			@media (max-width: $md)
				width: 17px
		&_wechat
			width: 24px
			@media (max-width: $md)
				width: 14px
