.video
	@media (max-width: $md)
		padding-left: 15px
		padding-right: 15px
	&__item
		height: 300px
		// padding: 30px
		margin-bottom: 30px
		border-radius: 5px
		overflow: hidden
		background: url(../img/index/business_with_china/2.jpg) center / cover no-repeat
		iframe
			width: 100%
			height: 100%
		@media (max-width: $lg)
			height: 186px
		@media (max-width: $md)
			height: 250px
		@media (max-width: $sm)
			height: 200px
		@media (max-width: $xxs)
			height: 146px
	&__title
		margin-bottom: 30px
		color: $white
		font-size: 14px
		font-weight: 800
		line-height: 14px
		@media (max-width: $md)
			margin-bottom: 20px