$color: $accent
$size: 25px
$h: 18px
$width: 2px
.burger
  position: relative
  //margin-right: 20px
  width: $size
  height: $h
  cursor: pointer
  @media(min-width: 320px)
    display: block
  @media(min-width: 992px)
    display: none
  span, span:after, span:before
    background-color: $color
    width: 100%
    height: $width
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
  span:after, span:before
    content: ""
    position: absolute
    left: 0
    top: $h * 0.33
  span:before
    top: $h * 0.33 - 1
    top: 5.54px
  span:after
    top: $h * 0.66
    width: 80%
  span
    position: relative
    display: block
  &.on span
    background-color: transparent
  &.on span:before
    width: 100%
    top: 4.34px

    transform: rotate(45deg) translate(-#{($size / 28)}, 0px)
  &.on span:after
    width: 100%
    transform: rotate(-45deg) translate(#{$size / 28 * 6}, -#{$size / 28 * 7})
  @media only screen and (max-width : 480px)
    // top: 30px
