.card
	display: flex
	flex-direction: column
	height: 100%
	background-color: $light-bg
	border-radius: 5px
	overflow: hidden
	transition: all .3s ease
	@media(min-width: 992px)
		&:hover &__title
			color: $accent
	&__body
		display: flex
		flex-direction: column
		align-items: flex-start
		padding: 40px
		height: 100%
		@media (max-width: $md)
			padding: 30px
	&__date
		margin-bottom: 20px
		color: rgba($dark-bg, 0.5)
		font-size: 12px
		line-height: 13px
		font-weight: 500
	&__title
		margin-bottom: 20px
		color: $dark-bg
		font-size: 14px
		line-height: 22px
		font-weight: 800
		transition: all .3s ease
		text-transform: uppercase
		min-height: 43px
		@media (max-width: $xl)
			font-size: 12px
			line-height: 18px
			min-height: 36px
		@media (max-width: $lg)
			//
		@media (max-width: $md)
			margin-bottom: 14px
	&__text
		margin-bottom: 20px
		p
			color: rgba($dark-bg, 0.5)
			font-size: 12px
			line-height: 20px
			font-weight: 400
			@media (max-width: $xl)
				font-size: 11px
				line-height: 16px
		&_pr
			p
				color: $dark-bg
	&__btn
		margin-top: auto
		padding: 18px 26px
		@media (max-width: $sm)
			align-self: stretch
		@media (min-width: $lg)
			&:hover
					padding: 18px 26px
					color: $white
		&-wrap
			display: flex
			justify-content: space-between
			align-items: center
			width: 100%
	&__price
		color: $accent
		font-size: 14px
		line-height: 14px
		font-weight: 800
		text-transform: uppercase
		@media (max-width: $xl)
			font-size: 12px
			line-height: 12px
	&__img-wrap
		width: 100%
		min-height: 190px
		height: 190px
		overflow: hidden
		background-color: #000
		display: flex
		justify-content: center
		align-items: center
		&_sm
			@media (max-width: $md)
				min-height: 150px
				height: 150px
			
		&_svg
			background-color: #000000
			display: flex
			align-items: center
			justify-content: center
			svg
				width: 40px
				height: 36px
				fill: #fff
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center
		&_default
			width: auto
			height: auto


