.form
	padding: 50px
	background-color: $light-bg
	border-radius: 5px
	@media (max-width: $sm)
		padding: 30px
	&_modal
		background-color: $light-bg
		@media (max-width: $sm)
			padding: 25px

	&__title
		margin-bottom: 25px
		font-size: 18px
		font-weight: 800
		@media (max-width: $sm)
			font-size: 14px
			margin-bottom: 14px

	&__subtitle
		margin-bottom: 45px
		font-size: 14px
		font-weight: 400
		color: rgba($dark-bg, 0.5)
		@media (max-width: $sm)
			font-size: 10px
			margin-bottom: 28px

	&__checkbox
		display: none
		@media (max-width: $sm)
			margin-right: 5px

		&_custom
			position: absolute
			top: 0
			left: -10px
			width: 18px
			height: 18px
			border: 1px solid #8c8c8c
			border-radius: 50%
			background: $white
			transition: all .3s ease
			// margin-right: 9px


			@media (max-width: $sm)
				left: -10px
				// min-width: 15px
				// width: 15px
				// height: 15px
			&:hover
				cursor: pointer
				border: 1px solid $accent
	&__checkbox:checked + &__checkbox_custom
		border: 1px solid $accent
	&__checkbox:checked + &__checkbox_custom::before
		content: ""
		display: block
		position: absolute
		top: 50%
		left: 50%
		width: 8px
		height: 8px
		border-radius: 50%
		background-color: #d9a96a
		transform: translate(-50%, -50%)
	&__text
		color: $dark-bg
		font-size: 12px
		line-height: 12px
		font-weight: 400
		@media (max-width: $sm)
			font-size: 10px

		
	&__policy
		@media (max-width: $xxs)
			// flex-basis: 61%
		> a
			transition: all .3s ease
			@media (min-width: $lg)
				&:hover
					color: $accent
					text-decoration: underline
	&__error
		display: none
		//display: block
		margin-top: 5px
		// padding-left: 10px
		font-size: 12px
		color: $error
		@media (max-width: $sm)
			font-size: 10px
		@media (max-width: $xxs)
			text-align: center
	&__item
		display: flex
		flex-direction: column
		width: 30%
		margin-bottom: 23px
		&_modal
			width: 100%
		@media (max-width: $lg)
			width: 100%
		&_textarea
			width: 100%
	&__label
		margin-bottom: 10px
		&_modal
			margin-bottom: -10px
	&__input
		width: 100%

		&s
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			width: 100%
			margin-bottom: 25px
	&__textarea
		@include input-style
		margin-top: 10px
		display: block
		width: 100%
		height: 150px
		resize: none
		border: none

		&:focus
			border: 1px solid $accent
	&__action
		display: flex
		justify-content: space-between
		align-items: center
		@media (max-width: $lg)
			align-items: flex-start
		@media (max-width: $md)
			flex-direction: column
			justify-content: space-between
		@media (max-width: $sm)
			//


	&__attach

		display: flex
		align-items: center
		img
			display: block
			width: 19px
			margin-right: 10px
		@media (max-width: $md)
			margin-bottom: 20px

	&__send
		display: flex
		justify-content: space-between
		align-items: center
		@media (max-width: $lg)
			flex-direction: column
			align-items: flex-end
		@media (max-width: $md)
			width: 100%
		@media (max-width: $sm)
			align-items: center
			flex-direction: column-reverse
	&__check
		margin-right: 10px
		@media (max-width: $md)
			margin-bottom: 10px
		label
			display: flex
			align-items: center
			justify-content: center
		@media (max-width: $lg)
			margin-right: 0
		// @media (max-width: $sm)
	&__button
		padding: 23px 43px
		&_modal
			margin-bottom: 23px
			width: 100%

		@media (max-width: $lg)
			margin-bottom: 10px
		@media (max-width: $sm)
			align-self: stretch
	&__close
		width: 15px
		height: 15px
		position: absolute
		top: 15px
		right: 15px
		cursor: pointer