// vars
$fill: $accent

$gripHeight: 2px
$gripWidth: 10px

$closeHeight: 2px
$closeWidth: 25px

$radius: 14px
$stroke: 2px

$animation: .5s
$dimensions-open: 28px
$dimensions-close: 36px

.magnifier
	&__icon
		display: block
		position: relative
		cursor: pointer
		opacity: 1
		transition: opacity 2s
		&.on
			&:before
				animation: close .3s ease .3s 1 forwards
			.magnifier__handle
				height: $closeHeight
				width: $closeWidth
				&_grip
					top: 10px
					left: 0
				&_circle
					top: 10px
					left: 0
					background: $fill
					border-radius: 0
					border: 0
					transform: rotate(-45deg)
	&__handle
		position: absolute
		top: 0
		left: 0
		display: block
		background: $fill
		transform: rotate(45deg)
		transition: all .3s
		.on &
			animation: x-stroke-in .3s ease 0s 1 forwards
		&_grip
			top: 14px
			left: 10px
			width: $gripWidth
			height: $gripHeight
		&_circle
			width: $radius
			height: $radius
			background: transparent
			border: $stroke solid $fill
			border-radius: 50%
