.main

	&-news
		padding: 0 50px
		@media (max-width: $sm)
			padding: 0 30px
		&__slider
			height: 335px
			padding: 0
			margin: 0 auto
			&-arrow
				position: absolute
				top: 0
				z-index: 99
				width: 51px
				height: 100%
				@media (max-width: $sm)
					width: 30px
				&:hover
					cursor: pointer
			&-arrow-left
				left: -50px
				background-color: $dark-bg
				background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?> <svg class="social-icon social-icon_arrow-point-to-right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.846px" height="451.847px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"> <defs> <style>  .social-icon { fill: #d9a96a; }</style> </defs> <g> <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/> </g> </svg>')
				background-position: center
				background-repeat: no-repeat
				background-size: 14px
				transform: scaleX(-1)
				transition: all .3s ease
				@media (max-width: $sm)
					left: -30px
				&:hover
					background-color: $accent
					background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?> <svg class="social-icon social-icon_arrow-point-to-right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.846px" height="451.847px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"> <defs> <style>  .social-icon { fill: #ffffff; }</style> </defs> <g> <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/> </g> </svg> ')
			//background: $accent url(../img/index/arrow-left.png) center no-repeat


			&-arrow-right
				right: -50px
				background-color: $dark-bg
				background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?> <svg class="social-icon social-icon_arrow-point-to-right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.846px" height="451.847px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"> <defs> <style> .social-icon { fill: #d9a96a; }</style> </defs> <g> <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/> </g> </svg>')
				background-position: center
				background-repeat: no-repeat
				background-size: 14px
				transition: all .3s ease
				@media (max-width: $sm)
					right: -30px
				&:hover
					background-color: $accent
					background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?> <svg class="social-icon social-icon_arrow-point-to-right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="451.846px" height="451.847px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"> <defs> <style> .social-icon { fill: #ffffff; }</style> </defs> <g> <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/> </g> </svg> ')


		&__item
			height: 335px
			margin: 0
			padding: 50px 38px 40px
			@media (max-width: $sm)
				padding: 20px
			&:before
				transition: all .3s ease
			&:hover
				cursor: pointer
			&:hover .main-news__title
				color: $accent
			// &-1
			// 	background: url(../img/index/news/1.jpg) center / cover no-repeat
			// &-2
			// 	background: url(../img/index/news/2.jpg) center / cover no-repeat
			// &-3
			// 	background: url(../img/index/news/3.jpg) center / cover no-repeat
			// &-4
			// 	background: url(../img/index/news/4.jpg) center / cover no-repeat
			// &-5
			// 	background: url(../img/index/news/5.jpg) center / cover no-repeat
		&__img
			position: absolute
			width: 100%
			height: 100%
			z-index: -2
			top: 0
			left: 0
			img
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
		&__content
			margin-top: auto
			height: 100%
			display: flex
			flex-direction: column
			align-items: flex-start
			position: relative
			z-index: 20
		&__date
			color: rgba($white, 0.5)
			font-size: 12px
			line-height: 12px
			font-weight: 500
			margin-bottom: 27px
		&__title
			margin-bottom: 25px
			color: $white
			font-size: 14px
			font-weight: 800
			line-height: 22px
			min-height: 65px
			&:hover
				color: $accent
		&__descr
			margin-bottom: 25px
			color: rgba($white, 0.5)
			font-size: 12px
			font-weight: 400
		&__link
			color: $accent
			font-size: 12px
			font-weight: 500
			margin-top: auto


.main-news__item:hover.main-news__item::before
	background-color: $dark-bg