.menu
	&__list
		width: 100%
		display: flex

		@media (max-width: $lg)

			flex-direction: column
			padding: 15px 20px
		@media (max-width: $md)
			overflow: hidden

	&__list-level
		display: none
		position: absolute
		padding: 15px 0
		background-color: $dark-bg
		color: $white
		transition: 0.7s
		z-index: 10

		@media (max-width: $lg)
			overflow: auto

			left: 0
			top: 0
		&_open
			display: block
		&_1
			min-width: 413px
			top: 87px
			left: 0
			@media (max-width: $lg)
				top: 0
				//left: 0
				width: 100%
				//display: flex
				flex-direction: column
				min-height: 100%
				height: auto
				min-width: 100%
				//background: #6f9928
		&_2
			min-width: 472px
			left: 413px
			//top: -15px
			top: 0
			@media (max-width: $lg)
				//display: flex
				flex-direction: column
				top: 0
				left: 0
				min-width: 100%
				width: 100%
				min-height: 100%
				height: auto
				//background: #663399
	&__item
		user-select: none
		//transition: all .3s ease
		@media (max-width: $xl)
			font-size: 11px
			margin-right: 30px
		@media (min-width: $lg)
			&:hover
				color: $accent
				> .menu__list-level
					display: block
		@media (max-width: $md)
			//overflow: hidden
			&:hover
				color: $accent
		&_main
			position: relative
			//padding: 35px 0
			margin-right: 40px
			//transition: all .3s ease
			@media (max-width: $xl)
				margin-right: 30px
			@media (min-width: $lg)
				&:hover
					cursor: pointer
					&:before
						position: absolute
						display: block
						content: ""
						bottom: -1px
						bottom: 0
						left: 0
						width: 100%
						height: 1px
						background-color: $accent
						transition: all .3s ease
						z-index: 10
			@media (max-width: $lg)
				//padding: 15px 0
				margin-right: 0
				position: static
		&_level
			position: relative
			margin: 0
			@media (max-width: $lg)
				position: static
			&_1
			&_2
			&_expand
				position: relative
				display: block
				//@media (max-width: $lg)
					//display: block
				&:before
					content: ''
					position: absolute
					top: 50%
					right: 16px
					transform: translateY(-50%)
					display: block
					width: 9px
					height: 7px
					background: url(../img/index/arrow-right.png) center / cover no-repeat

		&-link
			color: $white
			font-size: 12px
			line-height: 1.4
			font-weight: 500
			display: block
			text-transform: uppercase
			&_main
				padding: 35px 0
				@media (max-width: $lg)
					padding: 15px 0
			&_level
				padding: 15px 30px
				@media (max-width: $lg)
					padding: 15px

		&_expand
			padding-right: 15px
			position: relative
			@media (max-width: $lg)
				display: block
			&:after
				content: ""
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				display: block
				width: 9px
				height: 6px
				background: url(../img/index/arrow.png) center / cover no-repeat
				@media (max-width: $lg)
					right: 0
					width: 9px
					height: 7px
					background: url(../img/index/arrow-right.png) center / cover no-repeat