.pagination
	margin-bottom: 80px
	@media (max-width: $md)
		margin-bottom: 60px
	&__wrap
		display: flex
		@media (max-width: $md)
			justify-content: center

	&__item
		margin-right: 10px
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		border-radius: 5px
		background-color: #f6f6f6
		cursor: pointer
		transition: all .3s ease

		color: #1a1a1a
		font-family: Montserrat
		font-size: 18px
		font-weight: 500
		letter-spacing: 0.9px

		&:last-child
			margin-right: 0
		&:hover
			background-color: #d9a96a
			color: #ffffff
			svg
				fill: #ffffff
		&_active
			background-color: #d9a96a
			color: #ffffff
	&__prev

	&__next
	&__icon
		&_prev
			transform: scaleX(-1)
		width: 20px
		height: 20px
	&__