.page
	&__category
		padding-top: 80px
		padding-bottom: 70px
		@media (max-width: $md)
			padding-top: 60px
	&__content-col
		margin-bottom: 30px
	&__title
		color: $dark-text
		font-size: 25px
		font-weight: 800
		// line-height: 20px
		margin-bottom: 20px
		@media (max-width: $sm)
			font-size: 20px
	&__subtitle
		margin: 0
		font-size: 12px
		font-weight: 500
		line-height: 1
		color: rgba($dark-bg, 0.5)
		margin-bottom: 20px
		@media (max-width: $sm)
			font-size: 8px
		@media (min-width: 992px)
			a:hover
				color: #000
	&__content-wrap
		padding-right: 0
		padding-left: 15px
		@media (max-width: $lg)
			padding-right: 15px
	&__content
		padding-top: 25px
		padding-bottom: 70px
		@media (max-width: $md)
			padding-top: 20px
			padding-bottom: 50px
		@media (max-width: $sm)
			padding-top: 15px
		&_padding-bottom
			padding-bottom: 20px
		> p
			margin-bottom: 45px
			color: $dark-bg
			font-size: 14px
			font-weight: 400
			line-height: 24px
			text-align: justify
			@media (max-width: $md)
				font-size: 12px
				line-height: 22px
				margin-bottom: 25px
			&:last-child
				margin-bottom: 0
		h2, h3
			margin-bottom: 45px
		ul
			list-style: disc
			margin: 0 0 15px 0
			padding: 5px 0 0 20px
			li
				margin-bottom: 5px
				background: url(/img/check-box.png) no-repeat 23px 23px
				background-position: 0 0
				font-style: 14px

				ul
					margin: 0

		&_pgn
			padding-bottom: 30px
			// page with pagination
		&-col
			margin-bottom: 30px
			&:last-of-type
				@media (max-width: $sm)
					margin-bottom: 0
	&__aside
		margin-bottom: 100px
		@media (max-width: $lg)
			margin-bottom: 50px
		&-wrap
			padding: 0 15px 0 82px
			@media (max-width: $lg)
				padding-right: 15px
				padding-left: 15px
				padding-bottom: 60px

	&__text
		margin-bottom: 45px
		color: $dark-bg
		font-size: 14px
		font-weight: 400
		line-height: 24px
		text-align: justify
		
		ul
			margin-bottom: 45px
			padding-left: 20px
			list-style: disc
			li
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0

		@media (max-width: $md)
			font-size: 12px
			line-height: 22px
			margin-bottom: 25px
		&:last-child
			margin-bottom: 0
		p
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0

	&__img-wrap
		width: 100%
		max-height: 430px
		margin-bottom: 45px
		border-radius: 5px
		overflow: hidden
		@media (max-width: $md)
			margin-bottom: 25px
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center

p > .page__img
	margin-bottom: 35px
	margin-top: 35px