.search
	background-color: #1a1a1a
	@media (max-width: $lg)
		border-bottom: 1px solid rgba(#fff, .15)
		//border-right: none
		//border-left: none
	&__input-wrap
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		padding-right: 15px
		padding-top: 30px
		padding-bottom: 30px
		@media (max-width: $sm)
			padding-left: 15px
	&__input
		width: 100%
		display: block
		line-height: 24px
		color: $white
		font-size: 14px
		font-family: Montserrat
		border: none
		background-color: transparent
		&::placeholder
			color: rgba(#fff, 0.25)

	&__magnifier
		padding: 0
		margin: 0
		background-color: transparent
		border: none
		display: inline
		position: absolute
		top: 50%
		right: -15px
		transform: translateY(-50%)
		@media (max-width: $sm)
			right: 0
		&-icon
			width: 25px
			height: 25px
	&__