.section
	padding-top: 50px
	padding-bottom: 50px
	background: $white
	@media (max-width: $lg)
		padding-top: 40px
		padding-bottom: 40px
	@media (max-width: $md)
		padding-top: 30px
		padding-bottom: 30px
	&__top
		margin-bottom: 45px
		display: flex
		justify-content: space-between
		align-items: flex-start
		@media (max-width: $lg)
			margin-bottom: 30px
		@media (max-width: $md)
			flex-direction: column
	&__title
		font-size: 25px
		font-weight: 400
		line-height: 25px
		@media (max-width: $lg)
			line-height: 26px
		@media (max-width: $lg)
			font-size: 20px
			line-height: 26px
		@media (max-width: $md)
			font-size: 20px
			text-align: center
	&__btn
	&__link
		&_desktop
			line-height: 25px
			@media (max-width: $md)
				display: none
		&_mobile
			justify-content: center
			margin-top: 30px
			@media (min-width: $md)
				display: none


