.tile
	border-radius: 5px
	overflow: hidden
	&_size
		&_big
			height: 435px
			@media (max-width: $lg)
				height: 100%
		&_sm
			height: 242px
			@media (max-width: $md)
				height: 188px

	&_1
		background: url(../img/index/service/1.jpg) center / cover no-repeat
	&_2
		background: url(../img/index/service/2.jpg) center / cover no-repeat
	&_3
		background: url(../img/index/service/3.jpg) center / cover no-repeat
	&_4
		background: url(../img/index/service/4.jpg) center / cover no-repeat
	&__wrap
		padding: 50px
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		@media (max-width: $lg)
			padding: 30px
		&_type
			&_sm
				padding: 30px
				align-items: center
	&__title
		display: flex
		align-items: flex-start
		
		@media (max-width: $lg)
			margin-bottom: 30px
			align-items: center
		&-img-wrap
			height: 40px
			@media (max-width: $lg)
				height: 30px
			&_sm
				// @media (max-width: $md)
				// 	margin-bottom: 25px



			&_type
				&_sm
				&_bg
					margin-right: 30px
					@media (max-width: $lg)
						margin-right: 10px
		&-img
			width: auto
			height: 100%
		&-text
			color: $white
			font-size: 14px
			font-weight: 800
			line-height: 26px
			@media (max-width: $lg)
				line-height: 20px

			&_type
				&_sm
					text-align: center
					@media (max-width: $md)
						font-size: 12px
	&__text
		color: rgba($white, 0.8)
		font-size: 12px
		line-height: 22px
		font-weight: 400
		@media (max-width: $lg)
			margin-bottom: 30px
	&__list
		list-style: disc
		padding-left: 15px
		@media (max-width: $lg)
			margin-bottom: 30px
	&__item
		margin-bottom: 20px
		@media (max-width: $lg)
			margin-bottom: 10px
		&:last-of-type
			margin-bottom: 0
	&__btn
	ul
		list-style: disc
		padding: 10px 0 0 20px