.title
	$sm: 22px
	$md: 27px
	margin-top: 0
	padding-bottom: 10px
	position: relative
	text-align: center
	text-transform: uppercase
	font: #{$sm} $Bold
	@media(min-width: 768px)
		font-size: #{$md}px
	&_decor
		&:after
			$w: 64
			content: ''
			display: block
			position: absolute
			left: calc(50% - #{$w / 2}px)
			//margin-left: -32px
			top: -40px
			width: #{$w}px
			height: 16px
			background-image: linear-gradient(to left, rgba(255, 230, 141, 0), #fdc831)
	
			